POSTGRES_USER=adminfood
POSTGRES_PASSWORD=foodpediapasword123
POSTGRES_DB=foodpedia
DATABASE_URL="postgresql://adminfood:foodpediapasword123@localhost:5432/foodpedia?schema=public"

BCRYPT_SALT=10

GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_REDIRECT_URI="http://localhost:3000/auth/google/callback"

JWT_SECRET=

R2_BUCKET_NAME=
R2_CLIENT_ID=
R2_CLIENT_SECRET_KEY=
R2_S3_ENDPOINT=